@import url('https://fonts.googleapis.com/css?family=Orbitron');
        body {
            font-family: 'Orbitron', sans-serif;
            margin: 0;
            background-image: url("galaxy.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        h1 {
            font-family: 'Orbitron', sans-serif;
            font-size: 2em;
            text-align: center;
            flex-wrap: nowrap;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            text-shadow: 13px 12px 30px  #e5e5e0 ;
        }

        h2 {
            font-family: 'Orbitron', sans-serif;
            font-size: 1.25em;
            text-align: center;
            flex-wrap: nowrap;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
        }

        h3 {
            font-family: 'Orbitron', sans-serif;
            font-size: 1em;
            text-align: center;
            flex-wrap: nowrap;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
        }

        .box {
            font-family: 'Orbitron', sans-serif;
            border-radius: 8px;
            background-color: #001d79;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;

        }

        .box:hover {opacity: 1}

        .box2 {
            font-family: 'Orbitron', sans-serif;
            border-radius: 8px;
            background-color: #001d79;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

        .box2:hover {opacity: 1}

        #controls, #game{
            width: 400px;
        }

        #controls {
            padding-top: 10px;
            text-align: center;
            margin:2em auto;
            position: relative;
            font-size: 20px;
        }

        #game {
            display: block;
            margin:2em auto;
            font-size: 32px;
            height: 400px;
            width: 400px;
            padding: 0px;
            position: relative;
            border-radius: 10px;
        }


        .tile {
            background-color: #f0a49f;
            background-image: url("galaxy.jpg");
            height: 96px;
            line-height: 96px;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            width: 96px;
            transition: ease 0.25s;
            color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 35px hsla(180, 100%, 50%, 0.5);
            transition: 1s;
        }

        .tile:hover {
            box-shadow: 0px 0px 100px hsla(180, 100%, 50%, 0.5);
        }

        .empty {
            background-color: black;
            width: 96px;
            height: 96px;
            position: absolute;
        }

        .quotes {
            margin: auto;
            width: 60%;
            border: 3px solid #51395b;
            padding: 10px;
            text-align: center;
            color: white;
            box-shadow: 0px 0px 35px hsla(180, 100%, 50%, 0.5);
        }
